<h1>Bienvenido a nuestra página de inicio</h1>

<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Género</th>
        <th>Plataforma</th>
        <th>Compañía</th>
      </tr>
    </thead>
    <tbody>
      {% for g in game %}
      <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.title }}</td>
        <td>{{ g.genre }}</td>
        <td>{{ g.platform }}</td>
        <td>{{ g.developingCompany }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</table>

<!--<h3>Juegos</h3>
<ul>
    {% for ga in game %}
        <li>{{ ga.title }}</li>
    {% endfor %}
</ul>

<h3>Plataformas</h3>
<ul>
    {% for platform in platform %}
        <li>{{ platform.name }}</li>
    {% endfor %}
</ul>

<h3>Compañia de desarrollo</h3>
<ul>
    {% for dev in developing_company %}
        <li>{{ dev.name }}</li>
    {% endfor %}
</ul>

<h3>Genero</h3>
<ul>
    {% for g in genre %}
        <li>{{ g.name }}</li>
    {% endfor %}
</ul>-->