<h1 style="text-align: center;">PLATFORMS</h1>
<hr/>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Platform 1</td>
            <td>Platfrom 1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Platform 2</td>
            <td>Platfrom 2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Platform 1</td>
            <td>Platfrom 1</td>
        </tr>
    </tbody>
</table>